.test-image {
    width:21px;
    height:21px;
    background:url(../images/brl.png);
  }

  @media screen and (min-width:1000px) {
    .test-text {
      max-width:1000px;
      margin:0 auto;
      color:lighten(red, 40%);
    }
  }


  .test-text  {
    color:lighten(red, 10%);
  }

  @media screen and (min-width:1400px) {
    .test-text  {
      color:lighten(red, 20%);
    }
  }


  @media screen and (min-width:1000px) {
    .test-text  {
      color:lighten(red, 30%);
    }
  }